Row(panels=[
            Graph(
                title="Consumer Group Lag",
                dataSource="prometheus",
                targets=[
                    Target(
                        expr='sum(kafka_consumergroup_lag{consumergroup="{{consumergroup}}"}) by (topic)',
                        interval='10s',
                        legendFormat={{'"topic- {{topic}}"'}}
                    ),
                ],
                yAxes=single_y_axis(format=none,min=' ',max=' ')

                {% if cg_lagalert == 'yes' %}
                    alert=Alert(
                                    name="consumergroup Lag {{consumergroup}}",
                                    message="consumergroup lag",
                                    alertConditions=[
                                        AlertCondition(
                                            Target(
                                            expr='sum(kafka_consumergroup_lag{consumergroup="{{consumergroup}}"}) by (topic)',
                                            legendFormat={{'"topic- {{topic}}"'}},
                                            refId='A',
                                            ),
                                            timeRange=TimeRange("5m", "now"),
                                            evaluator=GreaterThan(42758621),
                                            operator=OP_AND,
                                            reducerType=RTYPE_SUM,

                                        ),  
                                    ],
                                )


               {% endif %}      
            ),
            Graph(
                title="Topic Partition Current Offset",
                dataSource="prometheus",
                targets=[
                    Target(
                        expr='sum(rate(kafka_topic_partition_current_offset{topic="{{topic}}"}[5m])) by (partition)',
                        interval='10s',
                        legendFormat={{'"partition - {{partition}}"'}}
                    ),
                ],      
            ),

]),