from grafanalib.core import *
dashboard = Dashboard(
    title="{{ title }}",
    rows=[
        {% include 'pods_metrics.txt.j2' %}

        {% include 'kafka_metrics.txt.j2' %}

        {% include 'go_metrics.txt.j2' %}
    ],

) .auto_panel_ids()
